<h1>New Sighting</h1>

<% if @sighting.errors.any? %>
		<h2 style="color:red">Something went wrong</h2>
			<ul>
				<% @sighting.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
<% end %>


  

<%= render 'form' %>



<%= link_to 'Back', sightings_path %>