<p>
	<b> Sighting </b>
		<%= @sighting.location %>
</p>

<p>
	<b> Time spotted </b>
		<%= @sighting.created_at %>
</p>

<!-- <p>
	<b> User </b>
		<%= sight.user.name %>
</p> -->

<%= link_to 'Back', sightings_path %>