<%= form_for @topic, class: "form-horizontal" do |f| %>

<div class="control-group">
	<%= f.text_field :name, class: "control-label", placeholder: 'Add a topic' %>
		
	<div class="control-group">
		<%= f.submit%>
	</div>
</div>

<% end %>

<%= link_to 'Back', sightings_path, class: 'btn btn' %>